<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1030790088334-8slptfcc8cd37ldgpo4rodgu266jv5ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1030790088334-8slptfcc8cd37ldgpo4rodgu266jv5ut</string>
	<key>API_KEY</key>
	<string>AIzaSyCvyQSJ8snJ_B7d9Q2NZrI_QiXS2ACZTnI</string>
	<key>GCM_SENDER_ID</key>
	<string>1030790088334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bold360ai.goToOffice</string>
	<key>PROJECT_ID</key>
	<string>inseat-f012d</string>
	<key>STORAGE_BUCKET</key>
	<string>inseat-f012d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1030790088334:ios:97dfee8f071cd5fea02bdf</string>
	<key>DATABASE_URL</key>
	<string>https://inseat-f012d.firebaseio.com</string>
</dict>
</plist>